
	<body>

		
<br>
<br>
	<address>
		<h1><b> Contact Us</b></h1>
		Registered Office:<br>
		IDBI Bank Ltd. <br>
		IDBI Tower, WTC Complex,<br>
		Cuffe Parade, Colaba, Mumbai 400005.<br>
		
	</address>
	<hr size="5" width=50% color="black"><br>
		<p>Customers can contact our 24 X 7 Phone Banking numbers<br> 
		from any Landline / Mobile number, our Toll free numbers are as follows:<br>
		1800-209-4324<br>
		1800-200-1947 <br>
		1800-22-1070<br></p><br>
		<hr size="5" width=50% color="black"><br>
		<p>Debit Card Blocking Toll Free number: 1800-22-6999</p><br>
		<hr size="5" width=50% color="black"><br>
		<p>Our Non-Toll Free number: +91-22-67719100<br>
		Contact number for outside India customers: +91-22-67719100</p><br>
		<hr size="5" width=50% color="black">

	</body>
