div{
    text-align:center;
    background-color:rgb(118, 224, 164);
    height:100vh;
}
span
{
			color:red;
}
		
			
	
		
		
			
			
		
		fieldset
		{
			
            border-color: crimson;
			
			width:500px;
			margin:0px auto
			
			
			
		}
		legend{
            font-family: 'Courier New', Courier, monospace;
            text-anchor: brown;
        }