<body>
	<br>
	
<h1 text-align="center"> The list of services we provide are: </h1>
		
		
		<fieldset>
		<legend routerLink="/services/emi">Loans(Click here to calculate emi)</legend>
			<ol>
			<h3>
			<li>Personal Loan</li>
			<li>Education Loan</li>
			<li>Home Loan</li>
			<li>Car Loan</li>
		
            </h3>
            </ol>
		</fieldset><br><br>
		<fieldset>
		<legend routerLink="">Accounts</legend>
			<ol>
			<h3>
			<li>Savings Account</li>
			<li>Current Account</li>
			<li>Joint Account</li>
			<li>Demat Account</li>
			
            </h3>
            </ol>
		</fieldset><br><br>
		<fieldset>
		<legend routerLink ="">Cards</legend>
			<ol>
			<h3>
			<li>Debit Card</li>
			<li>Credit Card</li>
			<li>Platinum Card</li>
		
            </h3>
            </ol>
		</fieldset><br><br>
		<fieldset>
		<legend routerLink="/services/deposits">Deposits(Click here to calculate deposits)</legend>
			<ol>
			<h3>
			<li>Fixed Deposit</li>
			<li>Recurring Deposit</li>
			
            </h3>
            </ol>
		</fieldset>
</body>
	


